/**/.pyenv*
/solution/config
/solution/database/data
/.idea
**/__pycache__
/log
.Rproj.user
geckodriver.log
.ionide
.fake
solution/.env
venv
logs
/solution/SelfReview/Springer/scraper/data
/solution/SelfReview/Springer/scraper/progress.json
/solution/SelfReview/Springer/scraper/.chrome_profile