/**/.pyenv*
/solution/config
/solution/database/data
/.idea
**/__pycache__
/log
.Rproj.user
geckodriver.log
.ionide
.fake
solution/.env
venv
/solution/SelfReview/ACM/data
/solution/SelfReview/ACM/progress.json
logs
dblp.nt.gz
dblp.nt
/solution/SelfReview/Springer/scraper/data
/solution/SelfReview/Springer/scraper/progress.json
/solution/SelfReview/Springer/scraper/.chrome_profile
/solution/CoauthorAttack/ACM/data
/solution/CoauthorAttack/ACM/parsing.log
/solution/CoauthorAttack/IEEE/data

/solution/SelfReview/Springer/BBN/bbn_baselines
/solution/SelfReview/Springer/BBN/dblp_store
/solution/SelfReview/Springer/BBN/dblp_orcid_raw.tsv
/solution/SelfReview/Springer/BBN/springer_dois.txt