/**/.pyenv*
/solution/config
/solution/database/data
/.idea
**/__pycache__
/log
.Rproj.user
geckodriver.log
.ionide
.fake
solution/.env
venv
/solution/SelfReview/ACM/data
/solution/SelfReview/ACM/progress.json
logs
/solution/SelfReview/Springer/data
/solution/SelfReview/Springer/progress.json
/solution/SelfReview/Springer/.chrome_profile
/solution/CoauthorAttack/ACM/data
